html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway";
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-blue: #0065fc;
  --second-blue: #deebff;
  --grey: #d9d9d9;
  --card-shadow: 15px 0px 3px rgba(0, 0, 0, 0.1);
  --title-text: 22px;
  --bold-medium-text: 18px;
  --normal-size-text: 16px;
  --card-second-text: 14px;
}

/* HEADER */

header img {
  margin: 2.7rem 0;
  height: 19px;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: var(--normal-size-text);
}

header li {
  padding: 2.7rem;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}

header li:hover {
  color: var(--main-blue);
  border-top: 3px solid var(--main-blue);
}

/* HEADER */

/* MAIN */

/* FIRST SECTION */
main h2 {
  font-size: var(--title-text);
  margin-bottom: 0.5rem;
}

main h4 {
  font-weight: 400;
  font-size: var(--normal-size-text);
}

main form {
  margin-top: 1rem;
}

main form span i {
  margin-right: -4px;
  padding: 1rem 1.27rem;
  border-radius: 1rem 0 0 1rem;
  background-color: rgb(242, 242, 242);
}

main input {
  border-left: none;
  border-right: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 14px 25px;
  font-size: var(--normal-size-text);
  font-weight: bold;
  width: 14rem;
}

main input::placeholder {
  color: black;
}

main .desktopVersion {
  margin-left: -70px;
  padding: 1rem 1.2rem 1rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  cursor: pointer;
  background-color: var(--main-blue);
  font-size: var(--normal-size-text);
  font-weight: bold;
  color: white;
  visibility: visible;
}
/* FIRST SECTION */

/* MAIN */

/* MOBILE VERSION */

main .mobileVersion {
  margin-left: -4px;
  padding: 1rem 1.1rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  cursor: pointer;
  background-color: var(--main-blue);
  font-size: var(--normal-size-text);
  font-weight: bold;
  color: white;
  visibility: hidden;
}

/* MOBILE VERSION */
